<br>
<div class="page">
  <h1 class="header">Contact Me</h1>

  <p>Have any questions or feel like reaching out to me?  Fill out the form below and I'll get back to you as soon as I can!</p>


  <% if notice %>
  <%= flash[:notice] %>
  <% end %>

  <%= form_with(url:"/simple_pages/thank_you", method: "get", local: true) do |form| %>
  <div>
    <div class="form-group">
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
    </div>
    <br>
    <div class="form-group">
      <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <br>
    <div class="form-group">
      <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
    </div>
    <br>
  </div>
  <%= form.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
