<div class="page">
  <h3><%= @post.title %></h3>
  <hr>
  <p>
    <%= @post.content %>
  </p>
  <p>Posted on <%= @post.created_at.strftime("%m/%d/%Y") %> at <%= @post.created_at.strftime("%H:%M") %></p>

  <% if signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>
